files/.config/*
!files/.config/xfce4/terminal
!files/.config/yabar
!files/.config/redshift
!files/.config/picom
!files/.config/user-dirs.dirs
!files/.config/user-dirs.locale
!files/.config/htop

files/.mozilla/*
!files/.mozilla/firefox/*.default-release/chrome
!files/.mozilla/firefox/*.default-release/user.js
