[Unit]
Description=Proton VPN app
PartOf=graphical-session.target
Wants=waybar.service
After=waybar.service

[Service]
ExecStart=/usr/bin/protonvpn-app
Restart=on-failure
