[Unit]
Description=sway session
BindsTo=graphical-session.target
Wants=graphical-session-pre.target waybar.service protonvpn.service app-geoclue\x2ddemo\x2dagent@autostart.service gammastep.service
After=graphical-session-pre.target
