@import url("../../.cache/wal/colors-waybar.css");

* {
    border: none;
    border-radius: 0;
    font-family: Ubuntu Mono;
    font-size: 18px;
    font-weight: 700;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

.modules-left, .modules-right {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    color: @color2;
    background: alpha(@background, 0.85);
}

#workspaces button {
    transition: none;
    color: @color2;
    background: transparent;
    padding: 5px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: @foreground;
    background: alpha(@color15, 0.5);
}

#workspaces button.focused {
    color: white;
}

#tray {
    padding-left: 8px;
    padding-right: 8px;
}

#battery {
    padding-left: 8px;
    padding-right: 8px;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #eb4d4b;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    padding-left: 8px;
    padding-right: 8px;
}

#bluetooth {
    padding-left: 8px;
    padding-right: 8px;
}

#privacy {
    padding-left: 8px;
    padding-right: 8px;
}

#language {
    padding-left: 8px;
    padding-right: 8px;
}

#wireplumber {
    padding-left: 8px;
    padding-right: 8px;
}

#wireplumber.muted {
    background-color: #eb4d4b;
}

#disk {
    padding-left: 8px;
    padding-right: 8px;
}

#memory {
    padding-left: 8px;
    padding-right: 5px;
}

#memory.warning {
    background-color: #ffbe61;
}

#memory.critical {
    background-color: #eb4d4b;
}

#cpu {
    padding-left: 5px;
    padding-right: 5px;
}

#temperature {
    padding-left: 5px;
    padding-right: 8px;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#clock {
    padding-left: 10px;
    padding-right: 10px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
